{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
   <form method="post">
      <pre>{{ edit_bash_command_view.bash_command }}</pre>
      <div class="card mb-3">
         <label for="bash_command" class="card-header">Команда</label>
         <textarea class="form-control" id="bash_command" name="bash_command" rows="1" placeholder="Введите команду"
            required></textarea>
      </div>

      <div class="card mb-3">
         <label for="bash_name" class="card-header">Описание команды</label>
         <textarea class="form-control" id="bash_name" name="bash_name" rows="8" placeholder="Введите описание команды"
            required></textarea>
      </div>
      <pre>{{ edit_bash_command_view.bash_name }}</pre>
      <ul class="list-group list-group-horizontal">
         <li class="list-group-item">
             <a href="{{ url_for('bash_list_commands') }}">Вернуться к списку</a>
         </li>
         <li class="list-group-item save">
            <button type="submit" value="" class="add">Сохранить изменения</button>
         </li>
      </ul>
   </form>
<div class="container">
   {% include 'errors.html' %}
</div>
{% endblock %}