{% extends "base.html" %} {% block title %}Ссылки{% endblock %} {% block content %}

<table class="table table-hover caption-top">
   <caption>Всего записей в таблице links: <b>{{ links_list_count_print_int }}</b>, <a
         href="{{ url_for('add_links_command') }}">добавить новую запись</a></caption>
   {% for links_list in links_list %}
   <tbody>
      <tr>
         <td><a href="{{ url_for('get_post_links_command', links_id=links_list['links_id']) }}">{{ links_list['links_name']
               }}</a></td>
         <td>{{ links_list['links_command'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
</table>

{% endblock %}