{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<div class="container p-4">
   <form method="post">
      <div class="card mb-3">
         <label for="sql_command" class="card-header">Команда</label>
         <textarea class="form-control" id="sql_command" name="sql_command" rows="1" placeholder="Введите команду"
            required>{{ edit_sql_command_view.sql_command }}</textarea>
      </div>
      <div class="card mb-3">
         <label for="sql_name" class="card-header">Описание команды</label>
         <textarea class="form-control" id="sql_name" name="sql_name" rows="1" placeholder="Введите описание команды"
            required>{{ edit_sql_command_view.sql_name }}</textarea>
      </div>
      <div class="card mb-3">
         <label for="sql_description" class="card-header">Подробно</label>
         <textarea class="form-control" id="sql_description" name="sql_description" rows="8" placeholder="Подробно о команде"
            required>{{ edit_sql_command_view.sql_description }}</textarea>
      </div>
      <ul class="list-group list-group-horizontal">
         <li class="list-group-item">
             <a href="{{ url_for('sql_list_commands') }}">Вернуться к списку</a>
         </li>
         <li class="list-group-item save">
            <button type="submit" value="" class="add">Сохранить изменения</button>
         </li>
      </ul>
   </form>
</div>
<div class="container p-4">
   {% include 'errors.html' %}
</div>
{% endblock %}